/*ScrollBar CSS*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #bebebe;
	border-radius: 20px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover
	{
	background: black;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #Ffffff;
	border-radius: 20px;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 10px #ffffff;
	background-color: #b9b9b9;
	border-radius: 20px;
}
/* COMMON */
* {
	transition: all 400ms;
	-webkit-transition: all 400ms;
	border-radius: 0.2em;
}
.border{
	border-radius: 0.5em;
    border: 0.1em solid #a7a7a7;
    padding: 1em;
    margin: 1em;
}
.img-border{
	border-radius: 0.5em;
    border: 0.1em solid #a7a7a7;
    box-shadow: 5px 10px 18px #c1c1c1;
    width: 38em;
    height: 38em;
}
.max-width-100{
    max-width: 100%;	
}

.cursor-pointer{
	cursor: pointer;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    width: fit-content;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .5rem;
    margin-bottom: 0.5rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    font-size: 0.7rem;
}

body{
	/**height : 70em; old*/ 
	height : 47em;
}
.margin-left-auto {
	margin-left: auto;
}
.margin-botton-0{
	margin-bottom: 0;
}
.opacity-5 {
	opacity: 0.5;
}

.bg-white * {
	background-color: white !important;
	color: black !important;
}
.padding-left-0{
	padding-left: 0 !important;
}
.padding-top-0{
	padding-top: 0 !important;
}
.padding-right-0{
	padding-right: 0 !important;
}
.padding-bottom-0{
	padding-bottom: 0 !important;
}

.padding-0{
	padding: 0;
}
.font-size-75{
    font-size: 0.75rem;
}
/** old :  .fade {
    position: absolute;
    top: 12em;
    left: 0;
    right: 0;
    height: 100%;
	opacity: 1;
}
 */
.fade {
	/* position: absolute;
    top: 12.5em;
    left: 16%;
    right: 0; */
    height: 71%;
    opacity: 1;
    width: 97.5%;
}
.fade.div{
    max-height: 90.7%;
    overflow: auto;
}
.fade.ng-leave {
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.fade.ng-enter{
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.fade2 {
	/* position: absolute;
    top: 0em;
    left: 1em;
    right: 0; */
    height: 80%;
    opacity: 1;
    display: none;
    padding-top: 0.2rem;
    width: 100%;
}

.fade2 .* {
	transition: all 10ms;
	-webkit-transition: all 10ms;
}
.fade2.ng-leave {
	-webkit-transition: all 0s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transition: all 0s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.fade2.ng-enter{
	-webkit-transition:all 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transition: all 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.fade.ng-enter,.fade2.ng-enter {
	opacity: 0;
}

.fade.ng-enter-active,.fade2.ng-enter-active {
	opacity: 1;
}

.fade.ng-leave,.fade2.ng-leave {
	opacity: 1;
}

.fade.ng-leave-active,.fade2.ng-leave-active {
	opacity: 0;
}
/* PAGE HEADER */
.page-header {
	padding: 1em 1em 0em 1em;
}

.shake-content:hover {
	animation: shake 0.3s;
	animation-iteration-count: 1;
}
.logo_d {
    border: 0px solid green;
    display: block;
}

.logo_m {
    border: 0px solid green;
    display: none;
}

@media (max-width: 768px){
	.logo_m {
	    border: 0px solid green;
	    display: block;
	}
/* }
@media (max-width: 768px){ */
	.logo_d {
	    border: 0px solid green;
	    display: none;
	}
}

/** @media (max-width: 400px) and (min-width: 320px){
	.logo_m {
	    border: 0px solid green;
	    display: block;
	}
}
@media (max-width: 400px) and (min-width: 320px){
	.logo_d {
	    border: 0px solid green;
	    display: none;
	}
} */
@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(1deg); }
  10% { transform: translate(0px, 0px) rotate(2deg); }
  20% { transform: translate(0px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 0px) rotate(0deg); }
  40% { transform: translate(0px, 0px) rotate(-1deg); }
  50% { transform: translate(0px, 0px) rotate(-2deg); }
  60% { transform: translate(0px, 0px) rotate(-1deg); } 
  70% { transform: translate(0px, 0px) rotate(0deg); }
}

/** NAVBAR */
.home{
	display: none;
}
.home-none{
	display: block;
}

.sticky-top{
	box-shadow: 0.5em 0.5em 0.4em 0px #0a0a0a3d;
}
   
@media (max-width: 768px){
	.fade {
	    /* position: absolute !important;
	    top: 34% !important;
	    left: 25% !important;
	    right: 0 !important; */
	    height: 71% !important;
	    opacity: 1 !important;
	    width: 75% !important;
	}
	
/* }
@media (max-width: 768px){ */
	.navbar-collapse {
    	z-index: 9999;
    	background-color: white;
	}
	.navbar-nav {
		width: 10em;
	}
	.navbar-light .navbar-toggler {
	    color: rgba(0,0,0,.5);
	    border-color: #b9b9b9;
	}
	.bar1, .bar2, .bar3 {
	    background-color: #b9b9b9 !important;
	}
	/* .fade {
	    position: absolute !important;
	    top: 43% !important;
	    left: 33% !important;
	    right: 0 !important;
	    height: 71% !important;
	    opacity: 1 !important;
	    width: 66.5% !important;
	} */
	.fade {
	    /* position: absolute !important;
	    top: 34% !important;
	    left: 25% !important;
	    right: 0 !important; */
	    height: 71% !important;
	    opacity: 1 !important;
	    width: 75% !important;
	}
	.home{
	    text-decoration: none;
    	color: #b9b9b9;
		display: block;
		opacity: 1 !important;
    }
    .home-none{
	    display: none;
    }
    .img-border{
	    width: 100% !important;
	    height: 100% !important;
	}
}
.navbar-toggler {
	padding: .1rem .7rem;
	font-size: 1.25rem;
	line-height: 1;
	/* background: 0 0; */
	border: 1px solid transparent;
	border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #b9b9b9;
}

@media (min-width: 768px){
	.navbar-light .navbar-nav .nav-link:hover {
		color: rgb(255, 255, 255);
	    border: none;
	    border-bottom: 0.1em solid red;
	    line-height: 1.3em;
	    border-radius: 1em;
	}
	.navbar-light .navbar-nav .nav-link.activeMenu{
		color: rgb(255, 255, 255);
	    border: none;
	    border-bottom: 0.1em solid red;
	    line-height: 1.3em;
	    border-radius: 1em;
	}
}

@media (max-width: 768px){
	.nav-link {
		display: block;
		padding: .2rem 1rem;
	    /* height: 2em; */
	}
	.navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 1em;
	}
	.navbar-light .navbar-nav .nav-link:hover {
		color: rgba(0,0,0,.7);
	    padding-left: 0.5em;
	    border-right: 0.1em solid red;
	    height: 2em;
	    padding-top: 0.2em;
	    padding-bottom: 0.2em;
	}
}
    
.container-menu-button {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 1em;
    height: 0.1em;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -6px);
}
/**HOME*/

/* old: .sidenav {
  height: 70%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

.sidenav {
    height: -webkit-fill-available;
    height: 38em;
    /* width: 160px; */
    /* position: fixed; */
    /* z-index: 1; */
    /* top: 0; */
    /* left: 0; */
    background-color: #343a40!important;
    /* overflow-x: hidden; */
    padding: 1em;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #b9b9b9;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-width: 768px) and (min-width: 377px){
	.sidenav {
	    height: 33em !important;
	}
	.main{
	    max-height: 36em !important;
	    overflow: auto !important;
	}
	body {
	    height: 46em;
	}
}

@media screen and (max-width: 376px){
	.sidenav {
	    height: 29em !important;
	}
	.main {
	    max-height: 29em !important;
	    overflow: auto !important;
	}
	body {
	    height: 42em;
	}
}
/** .main {
  margin-left: 160px; Same as the width of the sidenav
  font-size: 28px; Increased text to enable scrolling
  padding: 0px 10px;
} */
.main{
    max-height: 38em;
    overflow: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/**Google Map*/
.map{
	width:100%;
	height:25em;
}

/**Contact Page*/
.contantContainer{
    background-color: #f2f2f2;
    padding: 1em 2em;
}
.contact-page-details{
	color: #ffffffd4;
    /* background-color: #00234cd6; 
    background-color: #0a2a3b; */
    /* background: linear-gradient(to right,#54eaf2 0,#83a4d4 100%); */
    background: linear-gradient(to right,#57aee8 0,#36cd96 100%);
    padding: 1em;
}
/** Font Awesome */
.fa {
    padding: 0.5em;
    font-size: 1.3em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}